
td{
padding:15px;
}

tr{

}
#chat{
	margin-left: 925px;
	margin-right: auto;
	margin-top: 30px;
}
#scores{
    font-family: 'Arial Black', sans-serif;
    font-size: 15px;
    color:white;
    margin-left: 25px;
    margin-right: auto;
}
#ganador{
    font-family: 'Arial Black', sans-serif;
    font-size: 15px;
    color:white;
    margin-left: 25px;
    margin-right: auto;
}
#Titulo{
    font-size: 35px;
    
}



#pantalla{
	position:fixed;
	margin-left: 25px;
	margin-right: auto;
	margin-top: -395px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-moz-box-shadow: 0px 0px 15px #505050;
	-webkit-box-shadow: 0px 0px 15px #50505
}

#player{
	position:fixed;
	font-family: 'Arial Black', sans-serif;
    font-size: 15px;
    color:white;
	margin-right: auto;
	margin-top: -10px;
	margin-left: 277px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-moz-box-shadow: 0px 0px 15px #505050;
	-webkit-box-shadow: 0px 0px 15px #50505

}
#messages{
    font-size: 15px;
    color:white;
}

.cell{
    -webkit-border-radius:1px;
	-moz-border-radius:1px;
	-moz-box-shadow: 0px 0px 15px #505050;
	-webkit-box-shadow: 0px 0px 15px #50505;
	border: 2px solid #999999;
	opacity: 0.7;
	position:fixed;
}
.mazo{
	background: OrangeRed;
	width: 170px;
	height: 110px;
	margin-left: 530px;
	margin-right: auto;
	margin-top: 200px;	
	
}
.mazo:hover{
	width: 180px;
	height:110px;
	opacity: 1;
	margin-left: 525px;
}
.mano{
	background: SlateGray;
	width: 110px;
	height: 170px;
	margin-top: 380px;
	margin-right: auto;
}
.mano:hover{
	height:180px;
	opacity: 1;
	margin-top:370px;
}
.ascendente{
	background: YellowGreen;
	width: 110px;
	height: 170px;
	margin-top: 170px;
	margin-right: auto;
}
.ascendente:hover{
	height:180px;
	opacity: 1;
	margin-top: 160px;
}
.descendente{
	background: DarkTurquoise;
	width: 110px;
	height: 170px;
	margin-top: 170px;
	margin-right: auto;
}
.descendente:hover{
	height:180px;
	opacity: 1;
	margin-top: 160px;
}
.almacen{
	background: GoldenRod;
	width: 170px;
	height: 110px;
	margin-left: 50px;
	margin-right: auto;
}
.almacen:hover{
	width: 180px;
	height:110px;
	opacity: 1;
	margin-left: 45px;

}
#t{
	background: DarkCyan;
	width: 170px;
	height: 110px;
	margin-top: 415px;
	margin-right: auto;
	margin-left: 50px;
}
#t:hover{
	width: 180px;
	height:110px;
	opacity: 1;
	margin-left: 45px;

}
#m0{
	margin-left: 260px;
}
.cell:hover .horizontal{
	width: 100px;
	height:170px;
	margin-left: 5px;
	margin-right: auto;
	margin-top: 5px;
}
.horizontal{
	background-size: 100% 100%;
	width:100px;
	height:160px;
	margin-left: 5px;
	margin-right: auto;
	margin-top: 5px;
}
.cell:hover .vertical{
	width: 100px;
	height:170px;
	margin-left: 40px;
	margin-right: auto;
	margin-top: -30px;
}
.vertical{
	background-size: 100% 100%;
	width:100px;
	height:160px;
	margin-left: 35px;
	margin-right: auto;
	margin-top: -25px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	rotation:270deg;
}
#MZ{
	background-image: url("Carta_2_KS.jpg");
}
#m1{
	margin-left: 380px;
}
#m2{
	margin-left: 500px;
}
#m3{
	margin-left: 620px;
}
#m4{
	margin-left: 740px;
}
#m5{
	margin-left: 860px;
}
#m6{
	margin-left: 980px;
}
#p0{
	margin-left: 260px;
}
#p1{
	margin-left: 380px;
}
#p2{
	margin-left: 740px;
}
#p3{
	margin-left: 860px;
}
#a0{
	margin-top: 10px;
}
#a1{
	margin-top: 130px;
}
#a2{
	margin-top: 250px;
}

h1{
	background-color:#858786;
    font-family: "Century Gothic";
    text-align:center;
    padding:5px;
    color:#FFEEDB;
    font-size: 25px;
}

.bMenu{
	margin:10px;
	text-decoration:none; text-align:center; 
	padding:11px 32px; 
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:18px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#e5ffff; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  	width:230px;
  	}

  .bMenu:hover{
	 padding:11px 32px; 
	 border:solid 1px #004F72; 
	 -webkit-border-radius:4px;
	 -moz-border-radius:4px; 
	 border-radius: 4px; 
	 font:18px Arial, Helvetica, sans-serif; 
	 font-weight:bold; 
	 color:#e5e7ff; 
	 background-color:#3BA4C7; 
	 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #193aa5 100%); 
	 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #193aa5 100%); 
	 background-image: -o-linear-gradient(top, #3BA4C7 0%, #193aa5 100%); 
	 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#193aa5 100%); 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#193aa5', endColorstr='#193aa5',GradientType=0 ); 
	 background-image: linear-gradient(top, #3BA4C7 0% ,#193aa5 100%);   
	 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	  
 }

 .bMenu:active{
	 padding:11px 32px; 
	 border:solid 1px #004F72; 
	 -webkit-border-radius:4px;
	 -moz-border-radius:4px; 
	 border-radius: 4px; 
	 font:18px Arial, Helvetica, sans-serif; 
	 font-weight:bold; 
	 color:#e5ffff; 
	 background-color:#90d2e8; 
	 background-image: -moz-linear-gradient(top, #90d2e8 0%, #103cad 100%); 
	 background-image: -webkit-linear-gradient(top, #90d2e8 0%, #103cad 100%); 
	 background-image: -o-linear-gradient(top, #90d2e8 0%, #103cad 100%); 
	 background-image: -ms-linear-gradient(top, #90d2e8 0% ,#103cad 100%); 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103cad', endColorstr='#103cad',GradientType=0 ); 
	 background-image: linear-gradient(top, #90d2e8 0% ,#103cad 100%);   
	 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	 opacity:0.52; 
	 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=52); 
	 filter: alpha(opacity=52); 
	}
.btnCircular{
	height: 130px;  /* Alto del botón */
	width: 130px;  /* Ancho del botón */
  	border-radius: 100%;
  	cursor: pointer;
    box-shadow:
	/* Sombras externa */
	inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), 
		inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
		/* Sombra interna */
		0 5px 20px rgba(0,0,0,.1);
	background-color:#3BA4C7; 
	font-style: oblique;
	font:18px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#e5ffff;
	font-size: 20px;
}

.bntCircular:active {
  	box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  	background-size: 55%; /* Cambiamos el tamaño de la imagen */
}
section.login{
	background-color: rgba(200, 200, 200, .3);
    margin: auto;
    margin-top:5%;
    width: 350px;
    border: 1px solid #ffffff;
    padding: 10px;
}
.volver{
	position: fixed;
	margin-left:10px;
	margin-top: -50px;
}
.volverS{
	position: fixed;
	margin-left:10px;
	margin-top: 10px;
}
#Texto{
	max-height: 400px;
	min-height: 400px;
	max-width: 170px;
	min-width: 170px;
	resize: none;
}
#salir{
	position: fixed;
	margin-left:320px;
	margin-top: -100px;
	width: 50px;
	height: 50px;
	opacity: 0.7;
}
#salir:hover{
	width: 60px;
	height: 60px;
	opacity: 1;
}